repos:
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
    -   id: autopep8
        args: [--in-place, --aggressive, --aggressive]
-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: ./.venv/bin/pytest
        language: system
        pass_filenames: false
        types: [python]
